<template>
  <div class="body">
    <div class="container">
      <div class="container_main">
        <div class="container-main_input-search">
          <input class="container-main_search-input" type="text" placeholder="Write the text here..." v-model="Search"/>
        </div>
        <div class="container-main_addPostComponent">
          <AddPostComponent :posts="filteredPost"/>
          <table class="container-main_table">
            <thead>
            <tr>
              <th>
                <button class="container-main-table_button-sort container-main-table_button-sort-userId" @click="sortUserId()">UserId</button>
              </th>
              <th>
                <button class="container-main-table_button-sort container-main-table_button-sort-id" @click="sortId()">Id</button>
              </th>
              <th>
                <button class="container-main-table_button-sort container-main-table_button-sort-title" @click="sortTitle()">Title</button>
              </th>
            </tr>
            </thead>
            <tbody>
              <tr class="container-main_table-post" v-for="(post, index) in filteredPost" :key="index" >
                <td colspan="3">
                  <RowComponent class="main-row" :post="post" :posts="filteredPost" :index="index"/>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


</template>


<script>
import { mapGetters, mapActions } from 'vuex'

import RowComponent from "../components/RowComponent";
import AddPostComponent from "../components/AddPostComponent";

export default {
  data: ()=> ({
    posts: [],
    errors: [],
    Search: '',
    checkSortId: true,
    checkSortTitle: false,
    checkSortUserId: false,
  }),

  mounted() {
    this.loadProfile()
        .then(function(response) {
          (response)
        })
        .catch(function(error) {
          console.log(error);
          (error.response.data.errors)
        });
  },
  computed: {
    postsData(){
      return this.posts

      //   .filter(elem => {
      // return elem.title.includes(this.search);
      // })
    },
    ...mapGetters({getInfo: 'Profile/getInfo', Title: 'Profile/getTitle', UserId: 'Profile/getUserId'}),

    filteredPost:function(){
      const title = this.Search;
      if(title==='') return this.getInfo;
      return this.getInfo.filter(function(elem){
        return elem.title.indexOf(title)>-1;
      })
    },
  },
  components: {
    AddPostComponent,
    RowComponent
  },
  methods:{
    ...mapActions({loadProfile: 'Profile/loadData'}),
    reverse(){
      this.filteredPost('reverse', function (value){
        return value.slice().reverse();
      })
    },
    sortId(){
      if(this.checkSortId){
        this.checkSortId = !this.checkSortId;
        return this.getInfo.sort(sortById)
      }
      else{
        this.checkSortId = !this.checkSortId;
        return this.getInfo.sort(sortByIdReverse)
      }
    },
    sortUserId(){
      if(this.checkSortUserId){
        this.checkSortUserId = !this.checkSortUserId;
        return this.getInfo.sort((d1, d2)=>{
          return (d1.userId < d2.userId) ? 1 : -1;
        })
      }
      else{
        this.checkSortUserId = !this.checkSortUserId;
        return this.getInfo.sort(sortByUserIdReverse)
      }
    },
    sortTitle(){
      if(this.checkSortTitle){
        this.checkSortTitle = !this.checkSortTitle;
        return this.getInfo.sort(sortByTitle)
      }
      else{
        this.checkSortTitle = !this.checkSortTitle;
        return this.getInfo.sort(sortByTitleReverse)
      }
    },
  },
}

const sortById = function (d1, d2) { return (d1.id < d2.id) ? 1 : -1; };
const sortByTitle = function (d1, d2) { return (d1.title.toLowerCase() > d2.title.toLowerCase()) ? 1 : -1; }

const sortByIdReverse = function (d1, d2) { return (d1.id > d2.id) ? 1 : -1; };
const sortByUserIdReverse = function (d1, d2) { return (d1.userId > d2.userId) ? 1 : -1; };
const sortByTitleReverse = function (d1, d2) { return (d1.title.toLowerCase() < d2.title.toLowerCase()) ? 1 : -1; }
</script>

<style>
.body{
  padding: 0;
  margin: 0;
  background: aqua;
}

.container{
  height: 100%;
  width: 1140px;
  margin: 0 auto;
}

.container-main_search-input{
  font-family: 'Consolas';
  font-weight: bold;
  font-size: 15px;

  padding: 10px;

  align-items: center;

  background: #ffa8f6;

  border: none;
  border: 1px solid #ffa8f6;
  border-radius: 10px
}

.container-main-table_button-sort{
  font-family: 'Consolas';
  font-weight: bold;
  font-size: 15px;

  padding: 10px;

  align-items: center;

  background: #ffa8f6;

  border: none;
  border: 1px solid #ffa8f6;
  border-radius: 10px;
}

table{
  border-collapse: collapse;
  width: 100%;
  border: 1px solid black;
}

.main-row{
  margin: 10px 0;
}

td{
  width: 33%;
}
</style>