<template>
  <div>
    <div>
      <table>
        <tr>
          <input class="container-main_input-number" type="number" placeholder="UserID" v-model="userIdPost"/>
          <input class="container-main_input-post" type="text" placeholder="Write please Post Title" v-model="titlePost"/>
          <button class="container-main_button-add-post" @click="addNewPost()">Add post</button>
        </tr>
      </table>
    </div>
  </div>
</template>

<script>
export default {
  name: "AddPostComponent",
  data(){
    return {
      userIdPost: 0,
      // titlePost: 'Your title'
    }
  },
  props: ['posts'],
  methods:{
    addNewPost(){
      let post = {
        body: "",
        id: this.posts.length + 1,
        title: this.titlePost,
        userId: this.userIdPost
      }
      console.log(post);
      this.posts.push(post);
    }
  }
}
</script>

<style scoped>

.container-main_input-number{
  width: 70px;

  font-family: 'Consolas';
  font-weight: bold;
  font-size: 15px;

  padding: 5px;

  align-items: center;

  background: #ffa8f6;

  border: none;
  border: 1px solid #ffa8f6;
  border-radius: 10px
}

.container-main_input-post{
  width: 190px;

  font-family: 'Consolas';
  font-weight: bold;
  font-size: 15px;

  padding: 5px;

  align-items: center;

  background: #ffa8f6;

  border: none;
  border: 1px solid #ffa8f6;
  border-radius: 10px
}

.container-main_button-add-post{
  font-family: 'Consolas';
  font-weight: bold;
  font-size: 15px;

  padding: 5px;

  align-items: center;

  background: #ffa8f6;

  border: none;
  border: 1px solid #ffa8f6;
  border-radius: 10px;
}

input{
  margin: 10px;
}
table {
  width: 100%;
}
</style>