<template>
  <button @click="sortArrayUp">{{text}}</button>
</template>

<script>
export default {
  name: 'ButtonComponent',
  props:['text', 'array'],
  methods: {
    getText(){
      console.log('content');
      this.$emit('clickButton', 'dsfsd')
    },
    sortArrayUp(){
      this.array.reverse();
    }

  }
}
</script>