<template>
  <div>
    <tr>
      <td class="post_userId">{{ post.userId }}</td>
      <td class="post_id">{{ post.id }}</td>
      <td class="post_title">{{ post.title }}</td>
      <button class="container-main_button-delete-post" v-on:click="deleteEvent(index)">Delete</button>
    </tr>

  </div>
</template>

<script>
export default {
  name: "RowComponent",
  props: ['post', 'posts', 'index'],
  data() {
    return {

    }
  },
  methods:{
    deleteEvent: function(event) {
      console.log(this.post, this.posts.length);
      this.posts.splice(event, 1);
    },
  }
}
</script>

<style scoped>
  .post_userId{
    font-family: 'Consolas';
    font-weight: bold;
    font-size: 14px;
  }

  .post_id{
    font-family: 'Consolas';
    font-weight: bold;
    font-size: 14px;
  }

  .post_title{
    font-family: 'Consolas';
    font-weight: bold;
    font-size: 14px;
    line-height: 1;

    word-wrap: break-word;

    text-align: start;
  }

  .container-main_button-delete-post{
    font-family: 'Consolas';
    font-weight: 700;
    font-size: 13px;

    padding: 5px;

    align-items: center;

    background: #ffa8f6;

    border: none;
    border: 1px solid #ffa8f6;
    border-radius: 10px;
  }
</style>