<template>
  <div id="app">
    <router-view>
      <Parsing/>
    </router-view>
  </div>
</template>

<script>
import parsing from "./pages/Parsing";

export default {
  name: 'App',
  components: {
    parsing
  }
}
</script>

<style>
#app {
  margin: 0;
  padding: 0;
/*  font-family: Avenir, Helvetica, Arial, sans-serif;*/
/*  -webkit-font-smoothing: antialiased;*/
/*  -moz-osx-font-smoothing: grayscale;*/
  text-align: center;
/*  color: #2c3e50;*/
/*  !*margin-top: 60px;*!*/
}
</style>
